/* Banner */
/* Images */
.main__container--banner-img{
    background-image: url(../images/banner.png);
    width: 329px;
    height: 329px;
}

/* Contents */
.main__container--banner-contents{
    width: 65%;
    height: 329px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main__container--banner-basic-contents{
    color: #4d4d4d;
    padding-bottom:10px;
}

.main__container--banner-span-contents{
    color: #4d4d4d;
}

.first-span{
    padding-top: 20px;
}

.main__container--banner-countdown-contents{
    font-weight: bold;
    font-style: italic;
    padding-top: 15px;
}

.main__container--banner-button{
    width: 150px;
    height: 30px;
    border: none;
    margin-top: 15px;
    background: #fa6400;
    font-weight: bolder;
    font-size: large;
    color: white;
}

/* Text_arena */
/* Contents */
.main__container--textarena-contents{
    width: 60%;
    height: 70%;
    text-align: justify;
    font-size: 10pt;
    padding-left:50px;
    padding-top: 50px;
}

.main__container--textarena-contents p:first-child{
    margin-bottom: 15px;
    font-size: 14.5pt;
    font-weight: bolder;
}

.main__container--textarena-contents p{
    padding-bottom: 15px;
}

/* Images */
.main__container--textarena-image{
    width: 40%;
    margin: 0;
}
.main__container--textarena-image-i{
    background-image: url(../images/user.png);
    width: 218px;
    height: 328px;
    margin: 0 auto;
}

/* Footers */
.main__container--textarena-footer{
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
}

/* Discount */
.main__container--discount{
    background-image: url(../images/discount.png);
    width: 938px;
    height: 465px;
}

/* Mid_content */
.main__container--midContent{
    text-align: center;
    background-color: #f6f6f6;
    padding: 15px;
    font-size: 11.5pt;
}

/* Feature_image */
.main__container--feature-image{
    background-image: url(../images/features.png);
    width: 100%;
    height: 268px;
}

/* Customer */
.main__container--customer{
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
}

/* Customer_images */
.main__container--customer-user{
    padding-top: 15px;
}

/* Customer_contents */
.main__container--customer-content{
    text-align: center;
    padding: 30px 0 30px 0;
}

.Content-2{
    padding-bottom: 10px;
}
/* Customer_celeb */
.main__container--customer-celeb{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celeb-img{
    padding-left: 5px;  
    padding-right: 5px;
}

.celeb-img p{
    padding-top: 10px;
    text-align: center;
}

/* Customer feedback */
.main__container--customer-feedback{
    background-image: url(../images/feedback.png);
    width: 100%;
    height: 463px;
}